/* Hero styles */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  background-color: #fff;
  margin-top: 56px;
}

.hero-content {
  display: flex;
  gap: 32px;
  width: 100%;
  max-width: 1024px;
  align-items: center;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.hero-text p {
  margin-bottom: 32px;
  line-height: 1.5;
}

.cta {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  background-color: #ffffff;
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 768px) {
  .nav-links {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      flex-direction: column;
      align-items: center;
      padding: 16px;
  }

  .nav-links.active {
      display: flex;
  }

  .hamburger {
      display: block;
  }

  .navbar.scrolled {
      width: 100%;
      left: 0;
      border-radius: 0;
      margin-top: 0;
  }

  .hero-content {
      flex-direction: column;
  }

  .hero-image {
      display: none;
  }

  .hero-text h1 {
      font-size: 32px;
  }

  .hero-text p {
      font-size: 16px;
  }
}

/* Selected Work Section */
.selected-work {
  padding: 64px 32px;
  background-color: #F5F7FA;
  text-align: center;
}

.selected-work h2 {
  font-size: 32px;
  margin-bottom: 16px;
}

.selected-work p {
  margin-bottom: 32px;
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.cards {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
}

.card .btn-secondary-s {
  align-self: flex-end;
  margin-right: 16px; /* Add some right margin to the button */
  margin-top: auto; /* Push the button to the bottom of the card */
  margin-bottom: 16px;
} 

h5.case-study {
  color: #5441DA;
  font-weight: 400;
  margin: 16px 16px 5px 16px;
  text-align: left;
}

h4.info {
  margin: 0 16px 16px;
  text-align: left;
}

/* Experience Section */

.experience-section {
  max-width: 1024px;
  margin: 0 auto;
  padding: 24px;
}

.section-title {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.experience-item {
  display: flex;
  align-items: flex-start;
  padding: 16px 0;
  position: relative;
  height: auto;
}

.timeline-container {
  position: relative;
  margin-right: 16px;
  min-height: 250px;
}

.timeline-container-empty {
  position: relative;
  margin-right: 16px;
}

.company-logo {
  width: 48px;
  height: 48px;
  object-fit: contain;
  position: relative;
  z-index: 2;
  background-color: white;
}

.timeline {
  position: absolute;
  top: 73px;
  left: 24px;
  width: 1.5px;
  height: calc(100% - 110px);
  background-color: #e0e0e0;
}

.timeline-dot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e0e0e0;
  z-index: 2;
}

.timeline-dot:nth-child(1) {
  top: 0px;
}

.timeline-dot:nth-child(2) {
  top: 64px;
}

.timeline-dot:nth-child(3) {
  top: 128px;
}

.timeline::before,
.timeline::after,
.timeline-dot::before,
.timeline-dot::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 4px;
  background-color: white;
}

.timeline::before {
  top: -4px;
}

.timeline::after {
  bottom: -4px;
}

.timeline-dot::before {
  top: -4px;
}

.timeline-dot::after {
  bottom: -4px;
}

.company-details {
  flex: 1;
}

.company-name {
  font-weight: 600;
  margin: 0 0 2px;
}

.employment-duration {
  font-size: 14px;
  margin: 0 0 16px;
}

.job-container {
  margin-bottom: 16px;
  position: relative;
  padding-top: 4px;
}

.job-title {
  font-weight: 600;
  margin: 0 0 2px;
}

.job-duration {
  font-size: 14px;
}

@media (max-width: 768px) {
  .experience-section {
      padding: 16px;
  }

  .contact-buttons {
    flex-direction: column;
  }
}

/*Contact Section */

.contact-section {
  background-color: #F5F7FA;
  padding: 64px 0;
  text-align: center;
}

.contact-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

#emailContainer {
  position: relative;
  overflow: hidden;
}

#emailContainer .copy-feedback {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6c63ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

#emailContainer.copied .copy-feedback {
  opacity: 1;
}

#emailContainer.copied .icon {
  transform: scale(1.2);
}

p#emailAddress {
  color: #6c63ff;
  text-decoration: none;
  border-radius: 32px;
  transition: all 0.3s ease;
  font-weight: 600;
  cursor: pointer;
  width: 250px;
  font-size: 16px;
}

p#emailAddress:hover {
  color: #ffffff;
}

/* Footer Styles */
footer {
  background-color: #ffffff;
  color: #fff;
  padding: 16px 0;
  margin-top: auto;
}

footer p {
  text-align: center;
  font-size: 14px;
}

