/* Case Study Specific Styles */

body p {  
    font-size: 16px;
    line-height: 150%;
   }


/* highlight 

.highlighted {
    background-image: linear-gradient(to right, #ece05877 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 1s ease;
}

.active-highlight {
    background-position: 0 0;
}
    */

/* Case-Study-Hero-Section */
.case-study-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 20px 0px 20px;
    text-align: center;
}

.case-study-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.btn-back, .btn-next {
    width: auto;
}

.hero-image {
    width: 100%;
    max-width: 1200px;
    margin-top: 24px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 0px;
    box-shadow: 0 4px px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    display: block;
}

.btn-secondary {
    margin: 20px auto 40px;
    display: block;
}

h2 {
    margin-bottom: 24px;
}

/* Case-Study-Info */
.case-study-info {
    background-color: #ffffff;
    padding: 16px 0;
    max-width: 700px;
    margin: -80px auto -80px auto; /* Negative margins to overlap the sections above and below */
    z-index: 10; /* Ensure it sits on top */
    position: relative; /* Ensure it can overlap other elements */
    box-shadow: 0 -11px 20px -10px rgba(0, 0, 0, 0.1);
    border:  px solid #e5e5e5;
    border-radius: 4px;


}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Ensure no wrapping */
    padding: 0 0; /* Padding to prevent touching edges on smaller screens */
    box-sizing: border-box; 
}

.info-column {
    flex: 1;
    padding: 0 16px;
    min-width: 0; /* Prevent columns from overflowing */
}

.info-column h4 {
    margin-bottom: 8px;
}

.info-column p {
    font-size: 14px;
}

@media (max-width: 768px) {
    .container {
        flex-wrap: wrap; /* Allow wrapping */
    }

    .info-column {
        flex: 1 1 50%; /* Ensure two columns per row */
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .info-column {
        flex: 1 1 100%; /* Ensure one column per row */
    }
}


/* key-info-wrapper */
.key-info-wrapper {
    background-color: #F5F7FA;
    padding: 120px 20px 40px; /* Added horizontal padding */
    position: relative;
    z-index: 1;
    margin-top: -40px;
}

/* Common styles for all sections */
.problem,
.design-brief,
.approach,
.themes {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: left;
    margin-bottom: 80px; /* Added margin between sections */
}

/* Common heading styles */
.problem h4,
.design-brief h4,
.approach h4,
.themes h4 {
    font-weight: 400;
    color: #616161;
    margin-bottom: 4px;
}

.problem h3,
.approach h3,
.themes h3 {
    margin-bottom: 24px;
}

.problem p {
    margin-bottom: 12px;
}

/* Thematic Sprint Diagram */
.thematic-sprint-diagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 30px;
}

.diagram-item {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px dashed #ccc;
    padding: 15px;
    text-align: left;
    min-width: 200px;
}

.diagram-item h5 {
    margin-top: 0;
    font-weight: bold;
}

.diagram-item p {
    font-size: 0.9em;
    margin-bottom: 0;
}

.diagram-operator {
    font-size: 24px;
    margin: 0 10px;
    color: #0000FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diagram-item.result {
    border: 1px solid #000;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .thematic-sprint-diagram {
        flex-direction: column;
        align-items: center;
    }
    
    .diagram-item {
        flex: 0 1 auto;
        width: 100%;
        max-width: 300px;
    }
    
    .diagram-operator {
        margin: 10px 0;
        width: 100%;
        max-width: 300px;
    }
}



/* Tab section */
.tab-container {
    
    margin: 40px auto;
    padding: 0px;
    background-color: #fff;
}

.tabs-wrapper {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.tablink {
    color: #333;
    padding: 12px 12px;
    border: none;
    cursor: pointer;
    margin: 0 16px;
    background-color: transparent;
    position: relative;
    font-weight: 600;
}

.tablink.active {
    color: #6A59DF;
}

.tablink.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #6A59DF;
}

.tabs-wrapper.sticky {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Sprint Title */
.sprint-title {
    margin-top: 32px;
    margin-bottom: 32px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* Key Learnings section */ 

.key-learnings-wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

  .key-learnings-wrapper h4 {
    font-weight: 400;
    color: #616161;
    margin-bottom: 8px;
 }

  .key-learnings-wrapper li {
    color: #333;
    margin: 16px
  }
 
  /* Plan Section */ 

  .process-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 80px auto;
    padding: 0px;
    gap: 20px;
}

.column {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

.column.process-image {
    background-color: #b3b3b3;
    height: 296px;
}


@media (max-width: 768px) {
    .process-wrapper {
        flex-direction: column;
    }

    .column {
        margin-bottom: 20px;
    }
}





  